@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
  font-family: Quicksand;
  background: linear-gradient(#C6E7FF, #E5D9F2);  
  height: 100%;
}

.headingdiv {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
}