@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

:root {
  font-family: Anta;
  background-color: #221e22;  
  height: 100vh;
  line-height: 1.6;
  font-size: 18px; 
}

.light-effect {
  position: fixed; /* To ensure it follows the cursor */
  pointer-events: none; /* Prevents interaction with the glow element */
  width: 250px; /* Circle size */
  height: 250px;
  background: radial-gradient(600px at 1417px 626px, rgba(255, 255, 255, 0.15), transparent 80%);
  border-radius: 50%; /* Makes it circular */
  transform: translate(-50%, -50%); /* Centers the glow on the cursor */
  z-index: 1000; /* Brings it above other elements */
  transition: background 0.2s ease; /* Smooth effect */
}


.heading-div {
  margin: 40px auto;
  max-width: 650px;
  padding: 0 10px;
  text-align: left;
  color: ;
}

.aboutme-caption { 
  color: #f7fff7;
}